$primary-color: #116466;
$secondary-color: #FFCB9A;
$tertiary-color: #2C3531;
$quaternary-color: #D9B08C;

$error-color: crimson;

$gray-0: #EEEEEE;
$gray-1: #C8C8C8;
$gray-2: #737373;
$gray-3: #222222;

$font-x-large: 2em;
$font-large: 1.3em;
$font-regular: 1em;
$font-small: 0.75em;

.mat-oaie {
  background-color: $primary-color;
  color: white;
}
