@font-face {
    font-family: FjallaOne;
    src: url(assets/fonts/fjalla-one/FjallaOne-Regular.ttf) format("opentype");
}

@font-face {
    font-family: NotoSans;
    src: url(assets/fonts/noto-sans/NotoSans-Regular.ttf) format("opentype");
}


