<div class="col-12 menu">
    <div *ngIf="loaded" class="container d-flex align-items-center justify-content-between">
        <a class="logo" href="#">LocalGoods</a>
        <div *ngIf="isLoggedIn">
            <a [routerLink]="" (click)="logout()">
                Log out
            </a>
        </div>
        <div *ngIf="!isLoggedIn">
            <a [routerLink]="'login'">
                Log in
            </a>
            <a [routerLink]="'register'">
                Register
            </a>
        </div>
    </div>
</div>

<div class="margin"></div>
