@import "styles/constants";

.background {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    max-height: 100%;
}

.title {
    z-index: 20;
    position: fixed;
    color: white;
    font-family: $font-heading !important;
    font-size: 3em;

}
