<app-page-heading text="Login"></app-page-heading>

<div class="mb-5">
    <gf-generic-form [elements]="formConfig"
                     #form
                     (submit)="submit()"
                     (loaded)="formBuild()"
    ></gf-generic-form>
</div>

<div class="d-flex justify-content-between">
    <button mat-button color="primary" [routerLink]="'/forgot-password'">Forgot Password</button>
    <gf-submit-button text="Login" (click)="submit()" [loading]="saving"></gf-submit-button>
</div>
