$primary-color: #d50000;
$secondary-color: #ffeb3b;
$tertiary-color: #212121;

$error-color: crimson;

$gray-0: #EEEEEE;
$gray-1: #C8C8C8;
$gray-2: #737373;
$gray-3: #222222;

.mat-oaie {
  background-color: $primary-color;
  color: white;
}

$font-heading: Alegreya, serif;
$font-regular: NotoSans, sans-serif;
