@font-face {
    font-family: Alegreya;
    src: url(../assets/fonts/alegreya/Alegreya-Regular.otf) format("opentype");
}

@font-face {
    font-family: NotoSans;
    src: url(../assets/fonts/noto-sans/NotoSans-Regular.ttf) format("opentype");
}


