/* You can add global styles to this file, and also import other style files */
@import "fonts";
@import "constants";

html, body { height: 100%; }

* {
  font-family: $font-regular !important;
}

.full-width {
  width: 100%;
}

.mat-form-field-label, .mat-form-field-subscript-wrapper {
  overflow: visible !important;
}

.pin {
  color: $primary-color;
}

.pointer {
  cursor: pointer;
}
