@import "styles/constants";

.feature-heading {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 2.3rem;
    color: $primary-color;
    font-family: $font-heading !important;
    width: fit-content;
}

.line {
    height: 3px;
    flex-grow: 1;
    background-color: $tertiary-color;
}
