<app-page-heading text="Profilul meu"></app-page-heading>

<div class="mb-5">
    <gf-generic-form [elements]="formConfig"
                     #form
                     (submit)="submit()"
                     (loaded)="formBuild()"
    ></gf-generic-form>
</div>

<app-search-address-map [initialAddress]="mapAddress" (onLocationChange)="updateLocation($event)"></app-search-address-map>

<div class="d-flex justify-content-end my-5">
    <gf-submit-button text="Salvează" (click)="submit()" [loading]="saving"></gf-submit-button>
</div>
