/* You can add global styles to this file, and also import other style files */
@import "app/styles/fonts";
@import "app/styles/constants";

html, body { height: 100%; }

* {
  font-family: NotoSans, sans-serif !important;
  user-select: text;
}

.full-width {
  width: 100%;
}

.mat-form-field-label, .mat-form-field-subscript-wrapper {
  overflow: visible !important;
}
